{% extends 'base.html.twig' %}
{% block title %}{{ metaTags.title }}{% endblock %}
{% block description %}{{ metaTags.description }}{% endblock %}
{% block body %}
    <div class="titlePorfolio">
        <div class="slash-row">
            <div class="text-center titleService">
                {% if is_granted('ROLE_CONTENT_MANAGER') %}
                    <a href="{{ path('meta_tags_edit', {'url': 'service'}) }}">Редактировать мета тэги</a>
                {% endif %}
{#                <h1>Наши услуги</h1>#}
            </div>
        </div>
    </div>
    <div class="service">
        {% for service in servisBlocks %}
            <div class="service-row justify-content-center align-items-center blockService">
                <div class="service-col">
                    <div class="service-row">
                        <div class="col-md-6  {% if loop.index%2 == 0 %} img-right {% else %} img-left {% endif %}">
                            <img src="/images/service/{{ service.img }}" alt=""/>
                        </div>
                        <div class="col-md-6 {% if loop.index%2 == 0 %} order-md-first {% else %} {% endif %}">
                            {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                <a href="{{ path('service_edit', {'id': service.id}) }}">Редактировать блок
                                    ( {{ service.id }} )</a>
                            {% endif %}
                            <div class="row content">
                                <div class="col-12 d-flex align-items-center section_title">

                                    <object type="image/svg+xml" data="/images/service/{{ service.icon }}">
                                        <div id="internalText"></div>
                                    </object>
                                    {% if app.request.locale == 'ru' %}
                                        <h2>{{ service.title }}</h2>
                                    {% else %}
                                        <h2>{{ service.titleEn }}</h2>
                                    {% endif %}

                                    <div class=" index">
                                        {% if loop.index < 10 %}
                                            0{{ loop.index }}
                                        {% else %}
                                            {{ loop.index }}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-12 serviceText">
                                    {% if app.request.locale == 'ru' %}
                                        {{ service.text|raw }}
                                    {% else %}
                                        {{ service.textEn|raw }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}