{% extends 'base.html.twig' %}

{% block body %}
    <div class="titlePorfolio">
        <div class="slash-row">
            <div class="text-center titleService">
                <h1>Наши услуги</h1>
            </div>
        </div>
    </div>
    <div class="service">
        {% for service in servisBlocks %}
            <div class="service-row justify-content-center align-items-center blockService">
                <div class="service-col">
                    <div class="service-row">
                        <div class="col-md-6">
                            <img src="/images/service/{{ service.img }}" alt=""/>
                        </div>
                        <div class="col-md-6 {% if loop.index%2 == 0 %} order-md-first {% else %} {% endif %}">
                            {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                <a href="{{ path('service_edit', {'id': service.id}) }}">Редактировать блок
                                    ( {{ service.id }} )</a>
                            {% endif %}
                            <div class="row content">
                                <div class="row index">
                                    <div class="col-md-2 ">
                                        {% if loop.index < 10 %}
                                            0{{ loop.index }}
                                        {% else %}
                                            {{ loop.index }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <object type="image/svg+xml" data="/images/service/{{ service.icon }}">
                                        <div id="internalText"></div>
                                    </object>
                                </div>
                                <div class="col-md-11"><h2>{{ service.title }}</h2></div>
                                <div class="col-md-12 serviceText">{{ service.text|raw }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}