{% extends 'base.html.twig' %}
{% import _self as macros %}
{% import 'articles/index.html.twig' as articleMacros %}
{% import 'base.html.twig' as base %}
{% macro printFooterMenu() %}
    <p>издатель и разработчик мобильных и браузерных игр</p>
{% endmacro %}
{% macro printFeedback(class) %}
    <button class="{{ class }}" role="button" data-toggle="modal" data-target="#exampleModal">{% trans %}btn.contact{% endtrans %}</button>
{% endmacro %}
{% macro printSocialBlock() %}
    {% for block_soc in  socialGlobal %}
        <a href={{ block_soc.url }} target="_blank" rel="noreferrer" class="socialButton">
            <div class="svgObj">
                <object type="image/svg+xml" data={{ block_soc.img }}>
                    <div class="internalText"></div>
                </object>
            </div>
        </a>
    {% endfor %}
{% endmacro %}
{% macro downButton() %}
    <div class="downButton down">
        <a href='#'>
            <object class="downImg" type="image/svg+xml" data="/images/down.svg">
                <div class="internalText"></div>
            </object>
        </a>
    </div>
{% endmacro %}
{% block title %}
    {% if app.request.locale == 'ru' %}
        {{ metaTags.title }}
    {% else %}
        {{ metaTags.titleEn }}
    {% endif %}
{% endblock %}
{% block description %}
    {% if app.request.locale == 'ru' %}
        {{ metaTags.description }}
    {% else %}
        {{ metaTags.descriptionEn }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('parallax') }}
{% endblock %}
{% block body %}

    {#modal#}
    <div class="modal fade" id="homeBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if formHome is defined %}
                    {{ form_start(formHome) }}
                    <div class="modal-body">

                        <div id="modalForAdmin">
                        </div>
                        {#<div class="modal-col-12 form-group">#}
                        {{ form_widget(formHome) }}
                        {#</div>#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    {{ form_end(formHome) }}
                {% endif %}
            </div>
        </div>
    </div>
    {#end modal#}

    <div class="menuClass">
        {% set menuAll = [
        {'list': 'I', 'menu': 'leftMenu.mainScreen', 'anchor': '#parallax'},
        {'list': 'Q', 'menu': 'leftMenu.aboutUs', 'anchor': '#letter-Q'},
        {'list': '/', 'menu': 'leftMenu.expertise', 'anchor': '#slash'},
        {'list': 'D', 'menu': 'leftMenu.technologies', 'anchor': '#letter-D'},
        {'list': 'E', 'menu': 'leftMenu.projects', 'anchor': '#letter-E'},

        ] %}
        {#{'list': 'V', 'menu': 'контакты', 'anchor': '#letter-V'}#}
        {#{% set menuAll = [1->I, 2->Q] %}#}
        <div id="menuLeft" class="menuLeft">
            {% for menu in menuAll %}
                <div class="menu-row">
                    {#<div class="col-md-2"><p>{{ menu.list }}</p></div>#}
                    <div class="menu-col"><a href={{ menu.anchor }}><p>{{ menu.menu|trans }}</p></a></div>
                </div>
            {% endfor %}
        </div>
        <div class="copyrightLeft">
            {#            {{ macros.printFooterMenu() }}#}
        </div>
    </div>
    <div id="parallax">
        <div id="letter-I">
            <div class="letter-I-row justify-content-center">
                <div class="letter-I-content-make">
                    {% for h1 in blockHome %}
                        {% if h1.id == 1 %}
                            <div class="letter-I">
                                <div class="textBlock">
                                    <div class="textBlockCenter">
                                        {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                            <a href="{{ path('meta_tags_edit', {'url': 'home'}) }}">Редактировать мета
                                                тэги</a>
                                        {% endif %}
                                        {% if app.request.locale == 'ru' %}
                                            <h2 class="title">{{ h1.titleRu }}</h2>
                                        {% else %}
                                            <h2 class="title">{{ h1.titleEn }}</h2>
                                        {% endif %}
                                        {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                            <a href="{{ path('index_edit', {'id': h1.id}) }}">Редактировать блок
                                                ( {{ h1.id }} )</a>
                                        {% endif %}
                                        {% for main in h1.blocks %}
                                            {% if main.checkmark == 'main' %}
                                                {% if app.request.locale == 'ru' %}
                                                    <p class="text">{{ main.text }}</p>
                                                {% else %}
                                                    <p class="text">{{ main.textEn }}</p>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}


                                        {{ macros.printFeedback('btn btnBlue hoverEffects') }}
                                    </div>
                                </div>
                                <div class="imgBlock vw680dawn">
                                    <img src="/images/home_phones.png" alt="" class="embed-responsive"/>
                                </div>
                                <div class="imgBlock vw680up">
                                    <div class="imgBlockCenter">
                                        {#<img src="/images/home_phones.png" alt="" class="embed-responsive"/>#}
                                        <img src="/images/m-left.png" alt="" class="embed-responsive left"
                                             id="leftId"/>
                                        <img src="/images/m-right.png" alt="" class="embed-responsive right"
                                             id="rightId"/>
                                    </div>
                                </div>
                            </div>
                            <div class="letter-I-block wow fadeInUp">
                                {% for main in h1.blocks %}
                                    {% if main.checkmark == 'block' %}
                                        <div class="block-col">
                                            <div class="block">
                                                <div class="icon">
                                                    <object type="image/svg+xml" data={{ main.icon }}>
                                                        <div class="internalText"></div>
                                                    </object>
                                                </div>
                                                {% if app.request.locale == 'ru' %}
                                                    <p>{{ main.text }}</p>
                                                {% else %}
                                                    <p>{{ main.textEn }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <div class="socialBlockHeight">
        <div class="socialBlock">
            {{ macros.printSocialBlock() }}
        </div>
        {{ macros.downButton() }}
    </div>
    <div id="letter-Q"></div>
    <div class="letter-Q">
        <div class="letter-Q-row justify-content-center">
            <div class="letter-Q-col">
                <div class="letter-Q-row">
                    {% for h1 in blockHome %}
                        {% if h1.id == 2 %}
                            <div class="title wow fadeInUp">
                                {% if app.request.locale == 'ru' %}
                                    <h2>{{ h1.titleRu }}</h2>
                                {% else %}
                                    <h2>{{ h1.titleEn }}</h2>
                                {% endif %}
                                {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                    <a href="{{ path('index_edit', {'id': h1.id}) }}">Редактировать блок ( {{ h1.id }}
                                        )</a>
                                {% endif %}
                            </div>
                            <div class="text wow fadeInUp">
                                {% for main in h1.blocks %}
                                    {% if main.checkmark == 'main' %}
                                        {% if app.request.locale == 'ru' %}
                                            <p>{{ main.text }}</p>
                                        {% else %}
                                            <p>{{ main.textEn }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="text1 wow fadeInUp">
                                {% for main in h1.blocks %}
                                    {% if main.checkmark == 'text1' %}
                                        {% if app.request.locale == 'ru' %}
                                            <p>{{ main.text }}</p>
                                        {% else %}
                                            <p>{{ main.textEn }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="text2 wow fadeInUp">
                                {% for main in h1.blocks %}
                                    {% if main.checkmark == 'text2' %}
                                        {% if app.request.locale == 'ru' %}
                                            <p>{{ main.text }}</p>
                                        {% else %}
                                            <p>{{ main.textEn }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="letter-Q-row imgQ wow fadeInUp">
                    <img src="/images/block_Q/about.svg">
                </div>
            </div>
        </div>
    </div>
    <div id="slash"></div>
    <div class="slash">
        <div class="slash-row justify-content-center">
            <div class="slash-col">
                <div class="slash-row">
                    {% for h1 in blockHome %}
                        {% if h1.id == 3 %}
                            <div class="title wow fadeInUp">
                                {% if app.request.locale == 'ru' %}
                                    <h2>{{ h1.titleRu }}</h2>
                                {% else %}
                                    <h2>{{ h1.titleEn }}</h2>
                                {% endif %}
                                {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                    <a href="{{ path('index_edit', {'id': h1.id}) }}">Редактировать блок ( {{ h1.id }}
                                        )</a>
                                {% endif %}
                            </div>
                            <div class="textBold wow fadeInUp">
                                {% for main in h1.blocks %}
                                    {% if main.checkmark == 'main' %}
                                        {% if app.request.locale == 'ru' %}
                                            <p>{{ main.text }}</p>
                                        {% else %}
                                            <p>{{ main.textEn }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="row my_container ml-0">

                                {% for main in h1.blocks %}

                                    {% if main.checkmark == 'block' %}
                                        <div class="col-md-6 card_wrap">
                                            <div class="my_card">
                                                {#                                                <div class="row">#}
                                                <div class="card_title d-flex align-items-center">
                                                    <object type="image/svg+xml" data="{{ main.icon }}">
                                                        <div class="internalText"></div>
                                                    </object>
                                                    {% if app.request.locale == 'ru' %}
                                                        {{ main.title }}
                                                    {% else %}
                                                        {{ main.enTitle }}
                                                    {% endif %}
                                                </div>
                                                <div class="card_text">
                                                    {% if app.request.locale == 'ru' %}
                                                        {{ main.text }}
                                                    {% else %}
                                                        {{ main.textEn }}
                                                    {% endif %}
                                                </div>
                                                {#                                                </div>#}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="letter-D-back">
        <div id="letter-D"></div>
        <div class="letter-D">
            <div class="letter-D-row justify-content-center">
                <div class="letter-D-col">
                    <div class="letter-D-row">
                        {% for h1 in blockHome %}
                            {% if h1.id == 4 %}
                                <div class="text-col wow fadeInUp">
                                    {% if app.request.locale == 'ru' %}
                                        <h2>{{ h1.titleRu }}</h2>
                                    {% else %}
                                        <h2>{{ h1.titleEn }}</h2>
                                    {% endif %}
                                    {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                        <a href="{{ path('index_edit', {'id': h1.id}) }}">Редактировать блок
                                            ( {{ h1.id }}
                                            )</a>
                                    {% endif %}
                                    {% for main in h1.blocks %}
                                        {% if main.checkmark == 'main' %}
                                            {% if app.request.locale == 'ru' %}
                                                <p class="textBold">{{ main.text }}</p>
                                            {% else %}
                                                <p class="textBold">{{ main.textEn }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="block-col wow fadeInUp">
                                    <div class="block">
                                        {#{'img': '/images/block_D/net.svg', 'title': '.Net'},#}
                                        {#{'img': '/images/block_D/aspNet.svg', 'title': 'ASP.Net'},#}
                                        {#{'img': '/images/block_D/ruby.svg', 'title': 'Ruby on rails'},#}
                                        {% set technologies = [
                                        {'img': '/images/block_D/java.svg', 'title': 'Oracle Java Grails'},
                                        {'img': '/images/block_D/c++.svg', 'title': 'C#'},
                                        {'img': '/images/block_D/angular.svg', 'title': 'Angular.JS'},
                                        {'img': '/images/block_D/react.svg', 'title': 'React.JS'},
                                        {'img': '/images/block_D/node.svg', 'title': 'Grails Nоde.JS'},
                                        {'img': '/images/block_D/php.svg', 'title': 'PHP'},
                                        {'img': '/images/block_D/Vue.svg', 'title': 'VUE.JS'},
                                        {'img': '/images/block_D/swift.svg', 'title': 'SWIFT'},

                                        ] %}
                                        {% for block_D in technologies %}
                                            <div class="icon-col">
                                                <div class="icon">
                                                    <object type="image/svg+xml" data={{ block_D.img }}>
                                                        <div class="internalText"></div>
                                                    </object>
                                                </div>
                                                <p class="title">{{ block_D.title }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="letter-E"></div>
    <div class="letter-E-back">
        <div class="letter-E">
            <div class="letter-E-row justify-content-center marginBottom25">
                <div class="letter-E-col">
                    {% for h1 in blockHome %}
                        {% if h1.id == 5 %}
                            <div class="letter-E-row">
                                <div class="title wow fadeInUp">
                                    {% if app.request.locale == 'ru' %}
                                        <h2>{{ h1.titleRu }}</h2>
                                    {% else %}
                                        <h2>{{ h1.titleEn }}</h2>
                                    {% endif %}
                                    {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                        <a href="{{ path('index_edit', {'id': h1.id}) }}">Редактировать блок
                                            ( {{ h1.id }}
                                            )</a>
                                    {% endif %}
                                </div>
                                <div class="textBold wow fadeInUp">
                                    {% for main in h1.blocks %}
                                        {% if main.checkmark == 'main' %}
                                            {% if app.request.locale == 'ru' %}
                                                <span>{{ main.text }}</span>
                                            {% else %}
                                                <span>{{ main.textEn }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% for main in h1.blocks %}
                                    {% if main.checkmark == 'text' %}
                                        <div class="text wow fadeInUp">
                                            {% if app.request.locale == 'ru' %}
                                                <p>{{ main.text }}</p>
                                            {% else %}
                                                <p>{{ main.textEn }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="portfolio">
            <div class="letter-E-row justify-content-center">
                <div class="letter-E-col">
                    <div class="projects items">
                        {% for article in articles %}
                            {% set id = article.alias?article.alias:article.id %}
                            <div class="filter {{ article.category }} wow fadeInUp item" {% if loop.index > 9 %} style="display: none;" {% endif %}>
                                {#<div class="squareImg ">#}
                                {#<div class="item">#}
                                {#<div class="img target" style="background-image: url('{{ uploaded_asset(article.id, article.icon) }}');"></div>#}
                                <a href={{ path('articles_show', {'id': id}) }} class="aImg">
                                    <img src={{ uploaded_asset(article.id, article.icon) }} alt=""
                                         class="embed-responsive target"/>
                                </a>
                                {#</div>#}
                                <div class="blockText align-self-center">
                                    <a href={{ path('articles_show', {'id': id}) }}>
                                        {% if app.request.locale == 'ru' %}
                                            <h3>{{ article.title }}</h3>
                                        {% else %}
                                            <h3>{{ article.titleEn }}</h3>
                                        {% endif %}
                                    </a>
                                    {% if app.request.locale == 'ru' %}
                                        <p>{{ article.textPreview }}</p>
                                    {% else %}
                                        <p>{{ article.textPreviewEn }}</p>
                                    {% endif %}
                                </div>
                                {#                            {% for button in buttons %}#}
                                {#                                {% if button.id == article.id %}#}
                                {#                                    <a href="{{ button.url }}" class="btn hrefButton" role="button"#}
                                {#                                       target="_blank"#}
                                {#                                       rel="nofollow noopener noreferrer">#}
                                {#                                        <div class="svgObj">#}
                                {#                                            <object type="image/svg+xml"#}
                                {#                                                    data="/images/batton/{{ button.icon }}">#}
                                {#                                                <div class="internalText"></div>#}
                                {#                                            </object>#}
                                {#                                        </div>#}
                                {#                                    </a>#}
                                {#                                {% endif %}#}
                                {#                            {% endfor %}#}
                                {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                    <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="projects allProjects justify-content-center">
                        <a href="{{ path('articles_index') }}">
                        <button id="viewAll" class="btn btnBlue hoverEffects" role="button">{% trans %}btn.all{% endtrans %}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div id="letter-V-back">#}
    <div id="letter-V"></div>
    {#<div class="letter-V">#}
    {#<div class="letter-V-row justify-content-center letter-fullwidth-container">#}
    {#<div class="letter-V-col">#}
    {#<div class="letter-V-row">#}
    {#<div class="blockContact wow fadeInUp">#}
    {#<h2>Контакты</h2>#}
    {#<p class="textBold">Готовы начать свой следующий проект? Для обсуждения или сотрудничества#}
    {#просто свяжитесь с#}
    {#нами.</p>#}
    {#<div class="letter-V-row">#}
    {#<div class="textContact">#}
    {#<h4>приезжайте</h4>#}
    {#<p>Минск, Республика Беларусь, пр. Партизанский 4</p>#}
    {#</div>#}
    {#<div class="textContact">#}
    {#<h4>пишите</h4>#}
    {#<object type="image/svg+xml" data="/images/imgEmailContact.svg">#}
    {#<div id="internalText"></div>#}
    {#</object>#}
    {#<p><a href="mailto:{{ mailGlobal }}">{{ mailGlobal }}</a></p>#}
    {#</div>#}
    {#<div class="textContact">#}
    {#<h4>звоните</h4>#}
    {#<p><a href="tel:{{ phoneGlobal|replace({'-': '', ' ':''}) }}">{{ phoneGlobal }}</a></p>#}
    {#</div>#}
    {#<div class="textContact">#}
    {#<h4>ищите в соцсетях</h4>#}
    {#<div class="social">#}
    {#{{ base.social }}#}
    {#</div>#}
    {#</div>#}
    {#<div class="textContact">#}
    {#{{ macros.printFeedback("btn btnBlue hoverEffects") }}#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="mapContact embed-responsive wow fadeInUp">#}
    {#<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.603712230171!2d27.581945215991954!3d53.88547284189211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbce2d107b6c7f%3A0x21fe21a76ca5068c!2z0J_QsNGA0YLQuNC30LDQvdGB0LrQuNC5INC_0YDQvtGB0L8uIDQsINCc0LjQvdGB0Lo!5e0!3m2!1sru!2sby!4v1577083867310!5m2!1sru!2sby"#}
    {#width="100%" height="724" frameborder="0" style="border:0;"#}
    {#allowfullscreen=""></iframe>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock %}
