{% extends 'base.html.twig' %}
{% import _self as macros %}
{% macro printFooterMenu() %}
    <p>издатель и разработчик мобильных и браузерных игр</p>
{% endmacro %}
{% macro printFeedback(class) %}
    <button class="{{ class }}" role="button" data-toggle="modal" data-target="#exampleModal">Связаться</button>
{% endmacro %}
{% macro printSocialBlock() %}
    {% set social = [
    {'img': '/images/block_V/telegram.svg', 'url': '#'},
    {'img': '/images/block_V/vk.svg', 'url': 'https://vk.com/iq_dev'},
    {'img': '/images/block_V/facebook.svg', 'url': '#'},
    {'img': '/images/block_V/twitter.svg', 'url': '#'},
    {'img': '/images/block_V/instagram.svg', 'url': 'https://www.instagram.com/iq_dev_by/'},
    ] %}
    {% for block_soc in social %}
        <a href={{ block_soc.url }} target="_blank" rel="noreferrer" class="socialButton">
            <div class="svgObj">
                <object type="image/svg+xml" data={{ block_soc.img }}>
                    <div class="internalText"></div>
                </object>
            </div>
        </a>
    {% endfor %}
{% endmacro %}
{% block body %}
    {% set social = [
    {'img': '/images/block_V/telegram.svg', 'url': '#'},
    {'img': '/images/block_V/vk.svg', 'url': 'https://vk.com/iq_dev'},
    {'img': '/images/block_V/facebook.svg', 'url': '#'},
    {'img': '/images/block_V/twitter.svg', 'url': '#'},
    {'img': '/images/block_V/instagram.svg', 'url': 'https://www.instagram.com/iq_dev_by/'},
    ] %}
    <div id="letter-I">
        <div class="letter-I-row justify-content-center">
            <div class="menuClass">
                {% set menuAll = [
                {'list': 'I', 'menu': 'главный экран', 'anchor': '#home'},
                {'list': 'Q', 'menu': 'о нас', 'anchor': '#letter-Q'},
                {'list': '/', 'menu': 'экспертиза', 'anchor': '#slash'},
                {'list': 'D', 'menu': 'технологии', 'anchor': '#letter-D'},
                {'list': 'E', 'menu': 'проекты', 'anchor': '#letter-E'},
                {'list': 'V', 'menu': 'контакты', 'anchor': '#letter-V'}
                ] %}
                {#{% set menuAll = [1->I, 2->Q] %}#}
                <div class="menuLeft">
                    {% for menu in menuAll %}
                        <div class="menu-row">
                            {#<div class="col-md-2"><p>{{ menu.list }}</p></div>#}
                            <div class="menu-col"><a href={{ menu.anchor }}><p>{{ menu.menu }}</p></a></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="copyrightLeft">
                    {{ macros.printFooterMenu() }}
                </div>
            </div>
            <div class="letter-I-content-make">
                <div class="letter-I">
                    <div class="textBlock">
                        <h2 class="title">IQ Dev</h2>
                        <p class="text">Подходим к решению любой задачи с интеллектом! Только качественные продукты и
                            уникальные решения!</p>
                        {{ macros.printFeedback('btn btnBlue hoverEffects') }}
                    </div>
                    <div class="imgBlock">
                        <img src="/images/home_phones.png" alt="" class="embed-responsive"/>
                    </div>
                </div>
                <div class="letter-I-block wow fadeInUp">
                    {% set arr = [
                    {'img':'/images/block_I/games.svg', 'text':'Более 30 собственных игр'},
                    {'img':'/images/block_I/people.svg', 'text':'100% довольных клиентов'},
                    {'img':'/images/block_I/specialists.svg', 'text':'Более 40 компетентных специалиста'},
                    {'img':'/images/block_I/download.svg', 'text':'Более 1 млн. загрузок игр и приложений'}
                    ] %}
                    {% for block_I in arr %}
                        <div class="block-col">
                            <div class="block">
                                <div class="icon">
                                    <object type="image/svg+xml" data={{ block_I.img }}>
                                        <div class="internalText"></div>
                                    </object>
                                </div>
                                <p>{{ block_I.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="socialBlockHeight">
                <div class="socialBlock">
                    {{ macros.printSocialBlock() }}
                </div>
                <div class="downButton">
                    <a href='#' class="">
                        {#<img src="/images/down.svg" alt=""/>#}
                        <object type="image/svg+xml" data="/images/down.svg">
                            <div class="internalText"></div>
                        </object>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-md-12">#}
    {#<div id="root"></div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    <div id="letter-Q" class="letter-Q">
        <div class="letter-Q-row justify-content-center">
            <div class="letter-Q-col">
                <div class="letter-Q-row">
                    <div class="title wow fadeInUp">
                        <h2>О нас</h2>
                    </div>
                    <div class="text wow fadeInUp">
                        <p>IQ Dev – команда профессионалов, занимающаяся как разработкой собственных решений, так и
                            сторонних заказов.</p>
                    </div>
                    <div class="text1 wow fadeInUp">
                        <p>Нас отличает высокопрофессиональный подход к разработке и использование инновационных решений
                            для каждого клиента.</p>
                    </div>
                    <div class="text2 wow fadeInUp">
                        <p>Нас отличает высокопрофессиональный подход к разработке и использование инновационных решений
                            для каждого клиента.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="slash" class="slash">
        <div class="slash-row justify-content-center">
            <div class="slash-col">
                <div class="slash-row">
                    <div class="title wow fadeInUp">
                        <h2>Экспертиза</h2>
                    </div>
                    <div class="textBold wow fadeInUp">
                        <p>Мы ценим огромный опыт, который мы получили в ходе работы с каждым клиентом – ведь именно
                            наши клиенты дают нам экспертизу, которая позволяет создавать качественный продукт.</p>
                    </div>
                    {% set expertise = [
                    {'img': '/images/slash/web.svg', 'title': 'WEB-разработка', 'text': 'Создания веб-сайта или веб-приложения. Вёрстка, программирование на стороне клиента и сервера'},
                    {'img': '/images/slash/mobile.svg', 'title': 'Mobile-разработка', 'text': 'Разработка приложений для таких небольших портативных устройств, как КПК, смартфоны и прочее'},
                    {'img': '/images/slash/rocket.svg', 'title': 'Продвижение', 'text': 'Обеспечение посещаемости сайта целевыми посетителями, которые заинтересованы в продукте'},
                    {'img': '/images/slash/design.svg', 'title': 'UX/UI -дизайн', 'text': 'Восприятие и ответные действия пользователя на использование продукции, системы или услуги'},
                    {'img': '/images/slash/html5.svg', 'title': 'Создание HTML5 игр', 'text': 'Поддержка и создание игр, которые можно запускать из браузера на любом ПК или мобильном устройстве'},
                    {'img': '/images/slash/unity.svg', 'title': 'Создание Unity игр', 'text': 'Межплатформенная среда разработки, которая позволяет создавать кроссплатформенные  игры'},
                    ] %}
                    {% for slash in expertise %}
                        <div class="block-col wow fadeInUp">
                            <div class="block">
                                <div class="icon">
                                    <object type="image/svg+xml" data={{ slash.img }}>
                                        <div class="internalText"></div>
                                    </object>
                                </div>
                                <div class="title">
                                    {{ slash.title }}
                                </div>
                                <div class="text">
                                    {{ slash.text }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="letter-D">
        <div class="letter-D">
            <div class="letter-D-row justify-content-center">
                <div class="letter-D-col">
                    <div class="letter-D-row">
                        <div class="text-col wow fadeInUp">
                            <h2>Технологии</h2>
                            <p class="textBold">В повседневной работе мы используем трендовые технологии, те, которые
                                приносят ощутимый
                                результат (мы называем это словом value — «ценность»)
                                как для клиента, так и для собственной разработки.</p>
                        </div>
                        <div class="block-col wow fadeInUp">
                            <div class="block">
                                {% set technologies = [
                                {'img': '/images/block_D/java.svg', 'title': 'Oracle Java Grails'},
                                {'img': '/images/block_D/c++.svg', 'title': 'C#'},
                                {'img': '/images/block_D/net.svg', 'title': '.Net'},
                                {'img': '/images/block_D/aspNet.svg', 'title': 'ASP.Net'},
                                {'img': '/images/block_D/node.svg', 'title': 'Grails Nоde.JS'},
                                {'img': '/images/block_D/php.svg', 'title': 'PHP'},
                                {'img': '/images/block_D/ruby.svg', 'title': 'Ruby on rails'},
                                {'img': '/images/block_D/swift.svg', 'title': 'SWIFT'},
                                {'img': '/images/block_D/angular.svg', 'title': 'Angular.JS'},
                                {'img': '/images/block_D/react.svg', 'title': 'React.JS'},
                                ] %}
                                {% for block_D in technologies %}
                                    <div class="icon-col">
                                        <div class="icon">
                                            <object type="image/svg+xml" data={{ block_D.img }}>
                                                <div class="internalText"></div>
                                            </object>
                                        </div>
                                        <p class="title">{{ block_D.title }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="letter-E" class="letter-E">
        <div class="letter-E-row justify-content-center">
            <div class="letter-E-col">
                <div class="letter-E-row">
                    <div class="title wow fadeInUp">
                        <h2>Проекты</h2>
                    </div>
                    <div class="textBold wow fadeInUp">
                        <span>Мы состоим в парке высоких технологий, одной из крупнейших заводей мирового IT-аутсорса, что
                            является показателем высокой технологичности нашей работы.</span>
                    </div>
                    <div class="text wow fadeInUp">
                        <p>Мы оцениваем результаты нашей работы по конверсии и прибыли — красота нас интересует
                            постольку, поскольку она не мешает монетизации.</p>
                    </div>
                    <div class="text wow fadeInUp">
                        <p>Поэтому, заказывая у нас, клиенты уверены, что получат эффективное решение, которое позволит
                            выйти их бизнесу на новый уровень.</p>
                    </div>
                    <div class="projects">
                        {% for article in articles %}
                            <div class="blockImg wow fadeInUp">
                                {% if images %}
                                    {% for image in images %}
                                        {% if image.article == article.id %}
                                            <img src="{{ uploaded_asset(article.id, image.img) }}" alt=""
                                                 class="embed-responsive"/>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="blockText align-self-center wow fadeInUp">
                                <a href={{ path('articles_show', {'id': article.id}) }}><h3>{{ article.title }}</h3></a>
                                <p>{{ article.textPreview }}</p>
                                {% for button in buttons %}
                                    {% if button.id == article.id %}
                                        <div class="buttonE">
                                            <a href={{ button.url }} class="btn buttonProject" role="button"
                                            target="_blank" rel="noreferrer">
                                            <span>
                                        <object type="image/svg+xml" data="/images/batton/{{ button.icon }}">
                                            <div class="internalText"></div>
                                        </object>
                                            <span class="hoverEffects">{{ button.title|replace({' ': '_'}) }}</span></span></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="letter-V">
        <div class="letter-V">
            <div class="letter-V-row justify-content-center">
                <div class="letter-V-col">
                    <div class="letter-V-row">
                        <div class="blockContact wow fadeInUp">
                            <h2>Контакты</h2>
                            <p class="textBold">Готовы начать свой следующий проект? Для обсуждения или сотрудничества
                                просто свяжитесь с
                                нами.</p>
                            <div class="letter-V-row">
                                <div class="textContact">
                                    <h4>приезжайте</h4>
                                    <p>Минск, Республика Беларусь, пр. Партизанский 4</p>
                                </div>
                                <div class="textContact">
                                    <h4>пишите</h4>
                                    {#<object type="image/svg+xml" data="/images/imgEmailContact.svg">#}
                                    {#<div id="internalText"></div>#}
                                    {#</object>#}
                                    <p>info@iqdev.com</p>
                                </div>
                                <div class="textContact">
                                    <h4>звоните</h4>
                                    <object type="image/svg+xml" data="/images/imgTelContact.svg">
                                        <div id="internalText"></div>
                                    </object>
                                </div>
                                <div class="textContact">
                                    <h4>ищите в соцсетях</h4>
                                    <div class="social">
                                        {% for block_V in social %}
                                            <a href={{ block_V.url }} target="_blank" rel="noreferrer">
                                                <img src={{ block_V.img }} alt=""/>
                                                {#<object type="image/svg+xml" data={{ block_V.img }}>#}
                                                {#Your browser does not support SVG#}
                                                {#</object>#}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="textContact">
                                    {{ macros.printFeedback("btn btnBlue hoverEffects") }}
                                </div>
                            </div>
                        </div>
                        <div class="mapContact embed-responsive wow fadeInUp">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.603712230171!2d27.581945215991954!3d53.88547284189211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbce2d107b6c7f%3A0x21fe21a76ca5068c!2z0J_QsNGA0YLQuNC30LDQvdGB0LrQuNC5INC_0YDQvtGB0L8uIDQsINCc0LjQvdGB0Lo!5e0!3m2!1sru!2sby!4v1577083867310!5m2!1sru!2sby"
                                    width="100%" height="724" frameborder="0" style="border:0;"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
