{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 align-self-center menuClass">
                {% set menuAll = [
                {'list': 'I', 'menu': 'главный экран', 'anchor': '#home'},
                {'list': 'Q', 'menu': 'о нас', 'anchor': '#letter-Q'},
                {'list': 'T', 'menu': 'экспертиза', 'anchor': '#letter-T'},
                {'list': 'I', 'menu': 'технологии', 'anchor': '#letter-E'},
                {'list': 'E', 'menu': 'проекты', 'anchor': '#letter-A'},
                {'list': 'M', 'menu': 'контакты', 'anchor': '#letter-M'}
                ] %}
                {#{% set menuAll = [1->I, 2->Q] %}#}
                {% for menu in menuAll %}
                <div class="row">
                    <div class="col-md-2"><p>{{ menu.list }}</p></div>
                    <div class="col-md-10"><a href={{ menu.anchor }}><p>{{ menu.menu }}</p></a></div>
                </div>
                {% endfor %}
                <p class="text">издатель и разработчик мобильных и браузерных игр</p>
            </div>
            <div class="col-md-8">
                <div class="row letter-I">
                    <div class="col-md-6">
                        <h2 class="title">IQTeam</h2>
                        <p class="text">Подходим к решению любой задачи с интеллектом! Только качественные продукты и
                            уникальные решения!</p>
                        <a class="btn btnBlue" href="#" role="button">Связаться</a>
                        {#<button type="button" class="btn btn-primary">Связаться</button>#}
                    </div>
                    <div class="col-md-6">
                        <img src="/images/home_phones.png" alt=""/>
                    </div>
                </div>
                <div class="row letter-I-block">
                    {% set arr = [
                    {'img':'/images/block_I/games.svg', 'text':'Более 30 собственных игр'},
                    {'img':'/images/block_I/people.svg', 'text':'100% довольных клиентов'},
                    {'img':'/images/block_I/specialists.svg', 'text':'Более 40 компетентных специалиста'},
                    {'img':'/images/block_I/download.svg', 'text':'Более 1 млн. загрузок игр и приложений'}
                    ] %}
                    {% for block_I in arr %}
                        <div class="col-md-3">
                            <div class="block">
                                <object type="image/svg+xml" data={{ block_I.img }}>
                                    Your browser does not support SVG
                                </object>
                                <p>{{ block_I.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <div id="letter-Q" class="container letter-Q">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2>О нас</h2>
                    </div>
                    <div class="col-md-6 textBold">
                        <p>IQ Clash – команда профессионалов, занимающаяся как разработкой собственных решений, так и
                            сторонних заказов.</p>
                    </div>
                    <div class="col-md-3">
                        <p>Нас отличает высокопрофессиональный подход к разработке и использование инновационных решений
                            для каждого клиента.</p>
                    </div>
                    <div class="col-md-3">
                        <p>Нас отличает высокопрофессиональный подход к разработке и использование инновационных решений
                            для каждого клиента.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="letter-T" class="container letter-T">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Экспертиза</h2>
                    </div>
                    <div class="col-md-12 textBold">
                        <p>Мы ценим огромный опыт, который мы получили в ходе работы с каждым клиентом – ведь именно
                            наши клиенты дают нам экспертизу, которая позволяет создавать качественный продукт.</p>
                    </div>
                    {% set expertise = [
                    {'img': '/images/block_T/web.svg', 'title': 'WEB-разработка', 'text': 'Создания веб-сайта или веб-приложения. Вёрстка, программирование на стороне клиента и сервера'},
                    {'img': '/images/block_T/mobile.svg', 'title': 'Mobile-разработка', 'text': 'Разработка приложений для таких небольших портативных устройств, как КПК, смартфоны и прочее'},
                    {'img': '/images/block_T/rocket.svg', 'title': 'Продвижение', 'text': 'Обеспечение посещаемости сайта целевыми посетителями, которые заинтересованы в продукте'},
                    {'img': '/images/block_T/design.svg', 'title': 'UX/UI -дизайн', 'text': 'Восприятие и ответные действия пользователя на использование продукции, системы или услуги'},
                    {'img': '/images/block_T/html5.svg', 'title': 'Создание HTML5 игр', 'text': 'Поддержка и создание игр, которые можно запускать из браузера на любом ПК или мобильном устройстве'},
                    {'img': '/images/block_T/unity.svg', 'title': 'Создание Unity игр', 'text': 'Межплатформенная среда разработки, которая позволяет создавать кроссплатформенные  игры'},
                    ] %}
                    {% for block_T in expertise %}
                        <div class="col-md-6">
                            <div class="row block">
                                <div class="col-md-3">
                                    <object type="image/svg+xml" data={{ block_T.img }}>
                                        Your browser does not support SVG
                                    </object>
                                </div>
                                <div class="col-md-9 title">
                                    {{ block_T.title }}
                                </div>
                                <div class="col-md-12 text">
                                    {{ block_T.text }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="letter-E" class="container letter-E">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Технологии</h2>
                        <p class="textBold">В повседневной работе мы используем трендовые технологии, те, которые
                            приносят ощутимый
                            результат (мы называем это словом value — «ценность»)
                            как для клиента, так и для собственной разработки.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="row block">
                            {% set technologies = [
                            {'img': '/images/block_E/java.svg', 'title': 'Oracle Java Grails'},
                            {'img': '/images/block_E/c++.svg', 'title': 'C#'},
                            {'img': '/images/block_E/net.svg', 'title': '.Net'},
                            {'img': '/images/block_E/aspNet.svg', 'title': 'ASP.Net'},
                            {'img': '/images/block_E/node.svg', 'title': 'Grails Nоde.JS'},
                            {'img': '/images/block_E/php.svg', 'title': 'PHP'},
                            {'img': '/images/block_E/ruby.svg', 'title': 'Ruby on rails'},
                            {'img': '/images/block_E/swift.svg', 'title': 'SWIFT'},
                            {'img': '/images/block_E/angular.svg', 'title': 'Angular.JS'},
                            {'img': '/images/block_E/react.svg', 'title': 'React.JS'},
                            ] %}
                            {% for block_E in technologies %}
                                <div class="col-md-4">
                                    <object type="image/svg+xml" data={{ block_E.img }}>
                                        Your browser does not support SVG
                                    </object>
                                    <p class="title">{{ block_E.title }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="letter-A" class="container letter-A">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Проекты</h2>
                    </div>
                    <div class="col-md-6 textBold">
                        <span>Мы состоим в парке высоких технологий, одной из крупнейших заводей мирового IT-аутсорса, что
                            является показателем высокой технологичности нашей работы.</span>
                    </div>
                    <div class="col-md-3">
                        <p>Мы оцениваем результаты нашей работы по конверсии и прибыли — красота нас интересует
                            постольку, поскольку она не мешает монетизации.</p>
                    </div>
                    <div class="col-md-3">
                        <p>Поэтому, заказывая у нас, клиенты уверены, что получат эффективное решение, которое позволит
                            выйти их бизнесу на новый уровень.</p>
                    </div>
                    <div class="row projects">
                        {% set projects = [
                        {'img': '/images/block_A/iqeon.png', 'title': 'Платформа IQeon  |  2018', 'text': 'игровая PvP платформа, которая позволяет пользователям соревноваться между собой в различных играх популярных жанров, получая цифровой актив IQN за лучший результат.', 'button': [{'img': '/images/block_A/iqn.svg', 'btn': 'iqeon.com', 'url': 'https://iqeon.com'}]},
                        {'img': '/images/block_A/iqgamm.png', 'title': 'Игровой портал  |  2018', 'text': 'IQGamm – информационное решение в сфере новостного обзора игровой индустрии, наличия качественной информации о компьютерных играх, ссылок на них с подробным описанием, а также площадкой для поиска единомышленников с наличием специализированных и модерируемых форумов.', 'button': [{'img': '/images/block_A/iqgamm.svg', 'btn': 'iqgamm.com', 'url': 'https://iqgamm.com'}, {'img': '/images/block_A/zenYandex.svg', 'btn': 'zen.yandex.ru', 'url': '#'}]},
                        {'img': '/images/block_A/racing.png', 'title': 'SR:Racing  |  2018', 'text': 'Мобильный проект, симулятор гонок по оживленной трассе. Игра состоит из 5 режимов, один из которых открывается раз в день и является чисто фановым. Фреймворк Cinemachine был выбран для реализации эффектов камеры.', 'button': [{'img': '/images/block_A/apple.svg', 'btn': 'apple store', 'url': '#'}, {'img': '/images/block_A/google.svg', 'btn': 'google play', 'url': '#'}]},
                        {'img': '/images/block_A/king.png', 'title': 'King of Dirt  |  2018', 'text': 'В King of Dirt игрок может сесть за руль крутого байка и покорить разнообразные сложные трассы. Выполняй миссии и получай очки, за которые можно прокачать байк или купить новый, а также научить своего персонажа новым головокружительным трюкам.', 'button': [{'img': '/images/block_A/apple.svg', 'btn': 'apple store', 'url': '#'}, {'img': '/images/block_A/google.svg', 'btn': 'google play', 'url': '#'}]},
                        {'img': '/images/block_A/zombies.png', 'title': 'Zombies: Run & Bite  |  2018', 'text': 'Теперь покорять различные трассы и выполнять головокружительные трюки можно на скутере! Выполняй миссии и зарабатывай очки, с помощью которых чтобы выучить новые трюки, прокачать скутер, и даже купить новый. А включив вид от первого лица можно почувствовать себя настоящим мастером.', 'button': [{'img': '/images/block_A/apple.svg', 'btn': 'apple store', 'url': '#'}, {'img': '/images/block_A/google.svg', 'btn': 'google play', 'url': '#'}]}
                        ] %}
                        {% for block_E in projects %}
                            <div class="col-md-6">
                                <img src={{ block_E.img }} alt=""/>
                            </div>
                            <div class="col-md-6 align-self-center">
                                <h3>{{ block_E.title }}</h3>
                                <p>{{ block_E.text }}</p>
                                {% for button in block_E.button %}
                                    <div class="title">
                                        <a href={{ button.url }} class="btn buttonProject" role="button">
                                        <span>
                                        <object type="image/svg+xml" data={{ button.img }}>
                                            Your browser does not support SVG
                                        </object>
                                            <span>{{ button.btn }}</span></span></a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="letter-M" class="container letter-M">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Контакты</h2>
                        <p class="textBold">Готовы начать свой следующий проект? Для обсуждения или сотрудничества просто свяжитесь с
                            нами.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>приезжайте</h4>
                                <p>Минск, Республика Беларусь, Партизанский пр-т, 4</p>
                            </div>
                            <div class="col-md-6">
                                <h4>пишите</h4>
                                <p>Support@iqteam.by</p>
                            </div>
                            <div class="col-md-6">
                                <h4>звоните</h4>
                                <p>+ 375 29 890-12-34</p>
                            </div>
                            <div class="col-md-6">
                                <h4>ищите в соцсетях</h4>
                                {% set social = [
                                {'img': '/images/block_M/telegram.svg', 'url': '#'},
                                {'img': '/images/block_M/vk.svg', 'url': '#'},
                                {'img': '/images/block_M/facebook.svg', 'url': '#'},
                                {'img': '/images/block_M/twitter.svg', 'url': '#'}
                                ] %}
                                {% for block_M in social %}
                                    <a href={{ block_M.url }}>
                                        <object type="image/svg+xml" data={{ block_M.img }}>
                                            Your browser does not support SVG
                                        </object>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mapContact">
                        <img src="/images/block_M/map.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
