{% extends 'base.html.twig' %}

{% import _self as macros %}
{% import 'index/index.html.twig' as indexMacros %}
{% block title %}
    {% if app.request.locale == 'ru' %}
        {{ metaTags.title }}
    {% else %}
        {{ metaTags.titleEn }}
    {% endif %}
{% endblock %}
{% block description %}
    {% if app.request.locale == 'ru' %}
        {{ metaTags.description }}
    {% else %}
        {{ metaTags.descriptionEn }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="titlePorfolio">
        <div class="slash-row">
            <div class="text-center titlePortfolio">
                {% if is_granted('ROLE_CONTENT_MANAGER') %}
                    <a href="{{ path('meta_tags_edit', {'url': 'article'}) }}">Редактировать мета тэги</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="menuClass">
        <div class="menuLeft menu-left" id="menuLeft">
            {% for menu in categories %}
                <div class="menu-row">
                    {#<div class="col-md-2"><p>{{ menu.list }}</p></div>#}
                    <div class="menu-col"><a href=#{{ menu.anchor }}><p>
                                {% if app.request.locale == 'ru' %}
                                    {{ menu.title }}
                                {% else %}
                                    {{ menu.titleEn }}
                                {% endif %}
                            </p></a></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="portfolio portfolioBottom">
        <div class="letter-E-row justify-content-center">
            <div class="letter-E-col">
                <div class="slash-row">
                    <div class="text-center titlePortfolio">
                        <div class="navigationPortfolio">
                            <a href="{{ path('index_index') }}">{% trans %}article.home{% endtrans %}</a>
                            <span>/</span>
                            <span class="articleTitle">
                            {% trans %}article.portfolio{% endtrans %}
                            </span>
                        </div>
                    </div>
                </div>
                {% for category in categories %}
                    <div class="category">
                        <div class="menuHeight" id={{ category.anchor }}></div>
                        <h2>
                            {% if app.request.locale == 'ru' %}
                                {{ category.title }}
                            {% else %}
                                {{ category.titleEn }}
                            {% endif %}
                        </h2>
                        <div class="projects items">
                            {% for article in articles if article.category == category.id %}
                                {% set id = article.alias?article.alias:article.id %}
                                <div class="filter {{ article.category }} wow fadeInUp item">
                                    <a href={{ path('articles_show', {'id': id}) }} class="aImg">
                                        <img data-src={{ uploaded_asset(article.id, article.icon) }} alt=""
                                             class="embed-responsive target"/>
                                    </a>
                                    <div class="blockText align-self-center">
                                        <a href={{ path('articles_show', {'id': id}) }}>
                                            {% if app.request.locale == 'ru' %}
                                                <h3>{{ article.title }}</h3>
                                            {% else %}
                                                <h3>{{ article.titleEn }}</h3>
                                            {% endif %}
                                        </a>
                                        {% if app.request.locale == 'ru' %}
                                            <p>{{ article.textPreview }}</p>
                                        {% else %}
                                            <p>{{ article.textPreviewEn }}</p>
                                        {% endif %}
                                    </div>
                                    {% if is_granted('ROLE_CONTENT_MANAGER') %}
                                        <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% if is_granted('ROLE_CONTENT_MANAGER') %}
                    <div class="create">
                        <a href="{{ path('articles_new') }}">Create new</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="socialBlockHeight">
        {{ indexMacros.downButton() }}
    </div>
{% endblock %}
