{% extends 'base.html.twig' %}
{% import _self as formMacros %}
{% macro printButtonRow(button) %}
    <button class="js-remove-scientist btn"><i class="fa fa-close"></i></button>
    {{ form_label(button.button) }}
    {{ form_widget(button.button) }}
    {{ form_errors(button.button) }}

    {{ form_label(button.url) }}
    {{ form_widget(button.url) }}
    {{ form_errors(button.url) }}
    <div style="display: none">
        {{ form_widget(button.articles) }}
    </div>
{% endmacro %}
{% block title %}
    {% if article.metaTitle %}
        {% if app.request.locale == 'ru' %}
            {{ article.metaTitle }}
        {% else %}
            {{ article.metaTitleEn }}
        {% endif %}
    {% else %}
        {% if app.request.locale == 'ru' %}
            {{ article.title }}
        {% else %}
            {{ article.titleEn }}
        {% endif %}
    {% endif %}
{% endblock %}
{% block description %}
    {% if app.request.locale == 'ru' %}
        {{ article.metaDescription }}
    {% else %}
        {{ article.metaDescriptionEn }}
    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
            {{ encore_entry_script_tags('forAdmin') }}
        {% endif %}
    {% endblock %}

{% block body %}

    {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
        {{ form_start(form) }}
    {% endif %}
    <div class="slash intoPage">
        <div class="slash-row justify-content-center">
            <div class="article-col">
                <div class="slash-row">
                    <div class="text-center titlePortfolio">
                        <div class="navigationPortfolio">
                            <a href="{{ path('index_index') }}">{% trans %}article.home{% endtrans %}</a>
                            <span>/</span>
                            <a href="{{ path('articles_index') }}">{% trans %}article.portfolio{% endtrans %}</a>
                            <span>/</span>
                            <span class="articleTitle">
                                    {% if app.request.locale == 'ru' %}
                                        {{ article.title }}
                                    {% else %}
                                        {{ article.titleEn }}
                                    {% endif %}
                                </span>
                        </div>
                    </div>
                </div>
                <div class="slash-row">
                    <div class="text-center titlePortfolio">
                        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                            {{ form_errors(form.title) }}
                            {{ form_label(form.titleEn) }}
                            {{ form_widget(form.titleEn) }}
                            {{ form_errors(form.titleEn) }}
                        {% else %}
                            {% if app.request.locale == 'ru' %}
                                <h1>{{ article.title }}</h1>
                            {% else %}
                                <h1>{{ article.titleEn }}</h1>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article">
        <div class="article-row justify-content-center">
            <div class="article-col">
                <div class="article-row headArticle justify-content-center">
                    <div class="col-sm-3 col-xl-2 icon">
                        {% if article.icon %}
                            <img data-src="{{ uploaded_asset(article.id, article.icon) }}"/>
                        {% endif %}
                        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                            <div class="button adminIcon">
                                {{ form_label(form.iconFile) }}
                            </div>
                            {#{{ form_widget(form.iconFile) }}#}
                            {{ form_errors(form.iconFile) }}
                        {% endif %}
                    </div>
                    <div class="col-sm-9 col-md-3 col-xl-4 fullTitle">
                        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                            {{ form_label(form.fullTitle) }}
                            {{ form_widget(form.fullTitle) }}
                            {{ form_errors(form.fullTitle) }}
                            {{ form_label(form.fullTitleEn) }}
                            {{ form_widget(form.fullTitleEn) }}
                            {{ form_errors(form.fullTitleEn) }}
                        {% else %}
                            {% if app.request.locale == 'ru' %}
                                <p>{{ article.fullTitle }}</p>
                            {% else %}
                                <p>{{ article.fullTitleEn }}</p>
                            {% endif %}
                        {% endif %}
                        {% if app.request.get('_route') != 'articles_new' %}
                            <div class="btnBlock">
                                {% for button in buttons %}
                                    {% if button.id == article.id %}
                                        <button class="btnIcon">
                                            <a href="{{ button.url }}" class="hrefButton" role="button"
                                               target="_blank"
                                               rel="nofollow noopener noreferrer">
                                                <div class="svgObj">
                                                    <object type="image/svg+xml"
                                                            data="/images/batton/{{ button.icon }}">
                                                        <div class="internalText"></div>
                                                    </object>
                                                </div>
                                            </a>
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-6 textPreview">
                        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                            {{ form_label(form.textPreview) }}
                            {{ form_widget(form.textPreview) }}
                            {{ form_errors(form.textPreview) }}
                            {{ form_label(form.textPreviewEn) }}
                            {{ form_widget(form.textPreviewEn) }}
                            {{ form_errors(form.textPreviewEn) }}
                        {% else %}
                            {% if app.request.locale == 'ru' %}
                                {{ article.textPreview }}
                            {% else %}
                                {{ article.textPreviewEn }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="article-row justify-content-center">
            <div class="article-col">
                <div class="article-row">
                    <div class="col img">
                        {% if app.request.get('_route') != 'articles_new' %}
                            {% if images %}
                                {% set secondValue = null %}
                                {% for image in images %}
                                    {% set secondValue = loop.index0 %}
                                {% endfor %}
                                {% if secondValue > 0 %}
                                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for image in images %}
                                                <div class="carousel-item {% if image.general %}active{% endif %}">
                                                    <img data-src="{{ uploaded_asset(article.id, image.img) }}"
                                                         class="d-block w-100"
                                                         alt=""/>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="carousel-control">
                                            <span class="count">
                                                <span id="countImg">1</span><span class="slash">/</span><span
                                                        id="lengthImg"></span>
                                                </span>
                                            <div class="line-control"></div>
                                            <ol class="carousel-indicators" style="display: none">
                                                {% for image in images %}
                                                    {% set i = loop.index0 %}
                                                    <li data-target="#carouselExampleIndicators"
                                                        data-slide-to={{ i }} {% if image.general %}class="active"{% endif %}></li>
                                                {% endfor %}
                                            </ol>
                                            <a class="carousel-control-prev" href="#carouselExampleIndicators"
                                               role="button"
                                               data-slide="prev">
                                                <img src="/images/next.svg" class="nextLeft">
                                                {#<span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
                                                {#<span class="sr-only">Previous</span>#}
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleIndicators"
                                               role="button"
                                               data-slide="next">
                                                <img src="/images/next.svg" class="nextRight">
                                                {#<span class="carousel-control-next-icon" aria-hidden="true"></span>#}
                                                {#<span class="sr-only">Next</span>#}
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    {% for image in images %}
                                        <img data-src="{{ uploaded_asset(article.id, image.img) }}" alt=""/>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if (app.request.get('_route') in ['articles_edit', 'articles_new']) %}
            <div class="article-row justify-content-center" id="radioChecked">
                <div class="article-col">
                    <div class="article-row previewContainer js-genus-scientist-wrapper">
                        {% for radio in form.imgArticles %}
                            {% set i = loop.index0 %}

                            <div class="col-md-2 previewImg js-genus-scientist-item">

                                <img src="{{ uploaded_asset(article.id, radio.vars.value.img)|imagine_filter('squared_thumbnail_small') }}"
                                     class="embed-responsive"/>
                                {% if radio.vars.value.general %}
                                {% else %}
                                    <button type="button" class="js-remove-scientist btn"><i
                                                class="fa fa-close"></i>
                                    </button>
                                {% endif %}
                                <label class="containerCheck">
                                    <input class="form-check-input" type="radio" name="radioName"
                                           id="radios{{ i }}"
                                           value="{{ i }}"{% if radio.vars.value.general == 1 %} checked{% endif %}>
                                    <span class="checkmark"></span>
                                </label>
                                <div class="titleImg">
                                    {{ radio.vars.value.img }}
                                </div>
                                {{ form_widget(radio) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="article-row justify-content-center" id="radioChecked">
                <div class="article-col">
                    <div class="article-row">
                        <div class="col">
                            {{ form_label(form.imageFile) }}<br/>
                            {{ form_widget(form.imageFile) }}
                            {{ form_errors(form.imageFile) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="article-row justify-content-center descArticle">
            <div class="article-col">
                <div class="article-row">
                    <div class="col-sm-6 col-md-3 technology">
                        <p class="param">{% trans %}article.show.technologies{% endtrans %}</p>
                        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                            {{ form_widget(form.technology) }}
                            {{ form_errors(form.technology) }}
                            {{ form_label(form.technologyEn) }}
                            {{ form_widget(form.technologyEn) }}
                            {{ form_errors(form.technologyEn) }}
                        {% else %}
                            <p class="paramText">
                                {% if app.request.locale == 'ru' %}
                                    {{ article.technology }}
                                {% else %}
                                    {{ article.technologyEn }}
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-sm-6 col-md-3 technology">
                        <p class="param">{% trans %}article.show.customer{% endtrans %}</p>
                        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                            {{ form_widget(form.client) }}
                            {{ form_errors(form.client) }}
                            {{ form_label(form.clientEn) }}
                            {{ form_widget(form.clientEn) }}
                            {{ form_errors(form.clientEn) }}
                        {% else %}
                            <p class="paramText">
                                {% if app.request.locale == 'ru' %}
                                    {{ article.client }}
                                {% else %}
                                    {{ article.clientEn }}
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-md-3 technology">
                        <p class="param">{% trans %}article.show.year{% endtrans %}</p>
                        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                            <p class="paramText"> {{ form_widget(form.year) }}</p>
                            {{ form_errors(form.year) }}
                        {% else %}
                            <p class="paramText">{{ article.year }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-3 portfolio">
                        <div class="projects">
                            {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                                {{ form_label(form.buttonArticles) }}
                                <ul id="email-fields-list"
                                    class="js-genus-scientist-wrapper"
                                    data-prototype="{{ formMacros.printButtonRow(form.buttonArticles.vars.prototype)|e('html_attr') }}"
                                    data-widget-tags="{{ '<div class="js-genus-scientist-item"></div>'|e }}"
                                    data-widget-counter="{{ form.buttonArticles|length }}">
                                    {% for button in form.buttonArticles %}
                                        <div class="js-genus-scientist-item">
                                            {{ formMacros.printButtonRow(button) }}
                                        </div>
                                    {% endfor %}
                                </ul>
                                <button type="button"
                                        class="add-another-collection-widget"
                                        data-list-selector="#email-fields-list">
                                    Add Button
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-row justify-content-center">
            <div class="article-col">
                <div class="article-row">
                    <div class="col descArticle marginNone">
                        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                            {{ form_label(form.descriptionEn) }}
                            {{ form_widget(form.descriptionEn) }}
                            {{ form_errors(form.descriptionEn) }}
                        {% else %}
                            {% if app.request.locale == 'ru' %}
                                {{ article.description|raw }}
                            {% else %}
                                {{ article.descriptionEn|raw }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
            <div class="article-row justify-content-center">
                <div class="article-col">
                    <div class="article-row">
                        <div class="col descArticle">
                            {{ form_label(form.alias) }}
                            {{ form_widget(form.alias) }}
                            {{ form_errors(form.alias) }}
                            {{ form_label(form.author) }}
                            {{ form_widget(form.author) }}
                            {{ form_errors(form.author) }}
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category) }}
                            {{ form_errors(form.category) }}
                            {{ form_label(form.metaTitle) }}
                            {{ form_widget(form.metaTitle) }}
                            {{ form_errors(form.metaTitle) }}
                            {{ form_label(form.metaDescription) }}
                            {{ form_widget(form.metaDescription) }}
                            {{ form_errors(form.metaDescription) }}
                            {{ form_label(form.metaTitleEn) }}
                            {{ form_widget(form.metaTitleEn) }}
                            {{ form_errors(form.metaTitleEn) }}
                            {{ form_label(form.metaDescriptionEn) }}
                            {{ form_widget(form.metaDescriptionEn) }}
                            {{ form_errors(form.metaDescriptionEn) }}
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: none">
                {{ form_rest(form) }}
            </div>
        {% endif %}
    </div>
    <div class="article prevNext">
        <div class="slash-row justify-content-center">
            <div class="article-col">
                <div class="row">
                    {% if app.request.get('_route') not in ['articles_new', 'articles_edit'] %}
                        {% if prevNext %}
                            {% set id_0 = prevNext.0.alias?prevNext.0.alias:prevNext.0.id %}
                            {% set id_1 = prevNext.1.alias?prevNext.1.alias:prevNext.1.id %}
                            <div class="col-6 paddingNone">
                                <a href={{ path('articles_show', {'id': id_0}) }} class="prev">
                                    <img src="/images/next.svg" class="nextLeft">
                                    <span>{% trans %}article.show.previous{% endtrans %}</span>
                                </a>
                            </div>
                            <div class="col-6 paddingNone">
                                <a href={{ path('articles_show', {'id': id_1}) }} class="next">
                                    <span>{% trans %}article.show.next{% endtrans %}</span>
                                    <img src="/images/next.svg" class="nextRight">
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"><a href="{{ path('articles_index') }}">back to list</a></div>
                <div class="col-1">
                    {% if app.request.get('_route') != 'articles_new' %}
                        {% set id = article.alias?article.alias:article.id %}
                        <a href="{{ path('articles_show', {'id': id}) }}">show</a>
                    {% endif %}
                </div>
                <div class="col-1">
                    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                {% if app.request.get('_route') != 'articles_new' %}
                    <div class="col-1">
                        {{ include('articles/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>

    {% endif %}
    {% if app.request.get('_route') in ['articles_edit', 'articles_new'] %}
        {{ form_end(form) }}
    {% endif %}
    {% if is_granted('ROLE_CONTENT_MANAGER') and app.request.get('_route') != 'articles_new' and app.request.get('_route') != 'articles_edit' %}
        <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
    {% endif %}
{% endblock %}
