{% extends 'base.html.twig' %}
{% import _self as formMacros %}
{% macro printButtonRow(button) %}
    <button class="js-remove-scientist btn"><i class="fa fa-close"></i></button>
    {{ form_label(button.button) }}
    {{ form_widget(button.button) }}
    {{ form_errors(button.button) }}

    {{ form_label(button.url) }}
    {{ form_widget(button.url) }}
    {{ form_errors(button.url) }}
    <div style="display: none">
        {{ form_widget(button.articles) }}
    </div>
{% endmacro %}
{% block title %}Articles{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function () {
            var $wrapper = $('.js-genus-scientist-wrapper');
            $wrapper.on('click', '.js-remove-scientist', function (e) {
                e.preventDefault();
                $(this).closest('.js-genus-scientist-item')
                    .fadeOut()
                    .remove();
            });
        });
        let radio = document.getElementsByName('radioName')
        for (let i = 0; i < radio.length; i++) {
            radio[i].onclick = function () {
                removeValue()
                document.getElementById('articles_imgArticles_' + i + '_general').value = 1
//                console.log(222, radio[i].value)
            }
        }

        function removeValue() {
            for (let i = 0; i < radio.length; i++) {
                document.getElementById('articles_imgArticles_' + i + '_general').removeAttribute('value')
            }
        }

        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
{% endblock %}

{% block body %}

    {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
        {{ form_start(form) }}
    {% endif %}
    <div id="slash" class="container slash article">
        <div class="row justify-content-md-center">
            <div class="col-md-8 text-center titleService">
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    {{ form_label(form.title) }}
                    <h1>{{ form_widget(form.title) }}</h1>
                    {{ form_errors(form.title) }}
                {% else %}
                    <h1>{{ article.title }}</h1>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-md-center headArticle">
            <div class="col-md-1 icon">
                {% if article.icon %}
                    <img src="{{ uploaded_asset(article.id, article.icon) }}"/>
                {% endif %}
            </div>
            <div class="col-md-3 fullTitle">
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    {% if app.request.get('_route') == 'articles_new' %}
                        {{ form_label(form.fullTitle) }}
                    {% endif %}
                    {{ form_widget(form.fullTitle) }}
                    {{ form_errors(form.fullTitle) }}
                {% else %}
                    {{ article.fullTitle }}
                {% endif %}
            </div>
            <div class="col-md-4 textPreview">
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    {% if app.request.get('_route') == 'articles_new' %}
                        {{ form_label(form.textPreview) }}
                    {% endif %}
                    {{ form_widget(form.textPreview) }}
                    {{ form_errors(form.textPreview) }}
                {% else %}
                    {{ article.textPreview }}
                {% endif %}
            </div>
        </div>
        {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
            <div class="row justify-content-md-center">
                <div class="col-md-8 icon">
                    {{ form_label(form.iconFile) }}<br/>
                    {{ form_widget(form.iconFile) }}
                    {{ form_errors(form.iconFile) }}
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-md-center">
            <div class="col-md-8 img">
                {% if app.request.get('_route') != 'articles_new' %}
                    {% if images %}
                        {% set secondValue = null %}
                        {% for image in images %}
                            {% set secondValue = loop.index0 %}
                        {% endfor %}
                        {% if secondValue > 0 %}
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for image in images %}
                                        {% set i = loop.index0 %}
                                        <li data-target="#carouselExampleIndicators"
                                            data-slide-to={{ i }} {% if image.general %}class="active"{% endif %}></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for image in images %}
                                        <div class="carousel-item {% if image.general %}active{% endif %}">
                                            <img src="{{ uploaded_asset(article.id, image.img) }}" class="d-block w-100"
                                                 alt=""/>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {% else %}
                            {% for image in images %}
                                <img src="{{ uploaded_asset(article.id, image.img) }}" alt=""/>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if (app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new') %}
            <div class="row js-genus-scientist-wrapper" id="radioChecked">

                <div class="col-md-8 offset-md-2  previewContainer">
                    <div class="row">
                        {% for radio in form.imgArticles %}
                            {% set i = loop.index0 %}

                            <div class="col-md-2 previewImg js-genus-scientist-item">

                                <img src="{{ uploaded_asset(article.id, radio.vars.value.img)|imagine_filter('squared_thumbnail_small') }}"
                                     class="embed-responsive"/>
                                {% if radio.vars.value.general %}
                                {% else %}
                                    <button type="button" class="js-remove-scientist btn"><i class="fa fa-close"></i>
                                    </button>
                                {% endif %}
                                {#</div>#}
                                {#<div class="col-md-2">#}
                                {#{{ form_widget(radio.general) }}#}
                                {#<input class="form-check-input" type="radio" name="radioName" id="radios{{ i }}"#}
                                {#value="{{ i }}"{% if radio.vars.value.general == 1 %} checked{% endif %}>#}
                                <label class="containerCheck">
                                    <input class="form-check-input" type="radio" name="radioName" id="radios{{ i }}"
                                           value="{{ i }}"{% if radio.vars.value.general == 1 %} checked{% endif %}>
                                    <span class="checkmark"></span>
                                </label>
                                <div class="titleImg">
                                    {{ radio.vars.value.img }}
                                </div>
                                {{ form_widget(radio) }}
                            </div>
                            {#{% if radio.vars.value.general %}#}
                            {#<p>Эта картинка выбрана основной</p>#}
                            {#{% else %}#}
                            {#<div class="col-md-2">#}
                            {#<button type="button" class="js-remove-scientist btn btn-primary">Удалить</button>#}

                            {#</div>#}
                            {#{% endif %}#}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    {{ form_label(form.imageFile) }}<br/>
                    {{ form_widget(form.imageFile) }}
                    {{ form_errors(form.imageFile) }}
                </div>

            </div>
        {% endif %}
        <div class="row justify-content-md-center descArticle">
            <div class="col-md-2 technology">
                <p class="param">технологии</p>
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    <p class="paramText"> {{ form_widget(form.technology) }}</p>
                    {{ form_errors(form.technology) }}
                {% else %}
                    <p class="paramText">{{ article.technology }}</p>
                {% endif %}
            </div>
            <div class="col-md-2">
                <p class="param">клиент</p>
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    <p class="paramText"> {{ form_widget(form.client) }}</p>
                    {{ form_errors(form.client) }}
                {% else %}
                    <p class="paramText">{{ article.client }}</p>
                {% endif %}
            </div>
            <div class="col-md-2">
                <p class="param">год</p>
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    <p class="paramText"> {{ form_widget(form.year) }}</p>
                    {{ form_errors(form.year) }}
                {% else %}
                    <p class="paramText">{{ article.year }}</p>
                {% endif %}
            </div>
            <div class="col-md-2">
                <p class="param">скачать</p>
                <div class="row">
                    {% if app.request.get('_route') != 'articles_new' %}
                        {% for button in buttons %}
                            {% if button.id == article.id %}
                                <div class="col-md-6 title">
                                    <a href={{ button.url }} class="btn buttonProject" role="button">
                                    <span>
                                        <object type="image/svg+xml" data="/images/batton/{{ button.icon }}">
                                            Your browser does not support SVG
                                        </object>
                                            </span></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                        {{ form_label(form.buttonArticles) }}
                        <ul id="email-fields-list"
                            class="js-genus-scientist-wrapper"
                            data-prototype="{{ formMacros.printButtonRow(form.buttonArticles.vars.prototype)|e('html_attr') }}"
                            data-widget-tags="{{ '<div class="js-genus-scientist-item"></div>'|e }}"
                            data-widget-counter="{{ form.buttonArticles|length }}">
                            {% for button in form.buttonArticles %}
                                <div class="js-genus-scientist-item">
                                    {{ formMacros.printButtonRow(button) }}
                                </div>
                            {% endfor %}
                        </ul>
                        <button type="button"
                                class="add-another-collection-widget"
                                data-list-selector="#email-fields-list">
                            Add Button
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 descArticle">
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                {% else %}
                    {{ article.description|raw }}
                {% endif %}
            </div>
        </div>
        {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
            <div class="row justify-content-md-center">
                <div class="col-md-8 descArticle">
                    {{ form_label(form.alias) }}
                    {{ form_widget(form.alias) }}
                    {{ form_errors(form.alias) }}
                    {{ form_label(form.author) }}
                    {{ form_widget(form.author) }}
                    {{ form_errors(form.author) }}
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                    {{ form_errors(form.category) }}
                </div>
            </div>
            <div style="display: none">
                {{ form_rest(form) }}
            </div>
        {% endif %}
    </div>
    <div class="container-fluid prevNext">
        <div class="row">
            {% if app.request.get('_route') != 'articles_new' and app.request.get('_route') != 'articles_edit' %}
                {% if prevNext %}
                    <div class="col-md-6 paddingNone">
                        <a href={{ path('articles_show', {'id': prevNext.0.id}) }}><span>Предыдущий</span></a>
                    </div>
                    <div class="col-md-6 paddingNone">
                        <a href={{ path('articles_show', {'id': prevNext.1.id}) }}><span>Следующий</span></a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"><a href="{{ path('articles_index') }}">back to list</a></div>
                <div class="col-1">
                    {% if app.request.get('_route') != 'articles_new' %}
                        <a href="{{ path('articles_show', {'id': article.id}) }}">show</a>
                    {% endif %}
                </div>
                <div class="col-1">
                    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                {% if app.request.get('_route') != 'articles_new' %}
                    <div class="col-1">
                        {{ include('articles/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>

    {% endif %}
    {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
        {{ form_end(form) }}
    {% endif %}
    {% if is_granted('ROLE_CONTENT_MANAGER') and app.request.get('_route') != 'articles_new' and app.request.get('_route') != 'articles_edit' %}
        <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
    {% endif %}
{% endblock %}
