{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function () {
            var $wrapper = $('.js-genus-scientist-wrapper');
            $wrapper.on('click', '.js-remove-scientist', function (e) {
                e.preventDefault();
                $(this).closest('.js-genus-scientist-item')
                    .fadeOut()
                    .remove();
            });
        });
    </script>
    {#<script>#}
        {#let radio = document.getElementById('radioChecked').getElementsByClassName('radio')#}
        {#//        let radio = document.getElementById('articles_imgArticles_'+ "\d" +'_general_1')#}
        {#let id#}
        {#radioFunc()#}
        {#function radioFunc() {#}

            {#for (let i = 0; i < radio.length; i++) {#}
{#//            for (let a = 0; a < 2; a++){#}
{#//            document.getElementById('articles_imgArticles_' + i + '_general_'+a).setAttribute('style', 'display: none')#}
{#//                }#}
                {#document.getElementById('articles_imgArticles_' + i + '_general').insertAdjacentHTML("afterbegin", '<input type="radio" id="articles_imgArticles_' + i + '" name="imgArticles"/>')#}
                {#document.getElementById('articles_imgArticles_' + i).addEventListener('click', eventArticles, false);#}
{#//                document.getElementById('articles_imgArticles_' + i).removeEventListener("click", eventArticles);#}
            {#}#}
        {#}#}
        {#function eventArticles(e) {#}
            {#let clikArticle#}
            {#id = e.target.parentElement.id;#}
            {#console.log(id)#}
{#//            document.querySelector('#test strong').innerHTML = id; // For example#}
            {#for (let a = 0; a < radio.length; a++) {#}
                {#let input = document.getElementById('articles_imgArticles_' + a + '_general')#}
{#//            for (let a = 0; a < radio.length; a++) {#}
                {#if (id != 'articles_imgArticles_' + a + '_general') {#}
                    {#let input2 = document.getElementById('articles_imgArticles_' + a + '_general')#}
                            {#document.getElementById('articles_imgArticles_' + a + '_general_1').click()#}
                    {#console.log(a)#}
                    {#console.log(input2)#}
                    {#break;#}
                {#} else {#}
                    {#if (e.defaultPrevented) return#}
                    {#clikArticle = document.getElementById('articles_imgArticles_' + a + '_general_0').click()#}
                    {#console.log('clikArticle')#}
                    {#break;#}

                {#}#}
            {#}#}
{#//                    radioFunc()#}
{#//                    radioClick(id)#}
{#//                if (id == 'articles_imgArticles_' + i + '_general') {#}
{#//                    document.getElementById('articles_imgArticles_' + i + '_general_0').click()#}
{#//                    document.getElementById('articles_imgArticles_' + i + '_general_1').removeAttribute('checked')#}
{#//                    window.setTimeout(function() {#}
{#//                        document.getElementById('articles_imgArticles_' + i + '_general_0').focus()#}
{#////                        document.getElementById('articles_imgArticles_' + i + '_general_1').blur()#}
{#//                    })#}
{#//                    console.log(0)#}
{#//                } else {#}
{#//                    document.getElementById('articles_imgArticles_' + i + '_general_1').click()#}
{#//                    document.getElementById('articles_imgArticles_' + i + '_general_0').removeAttribute('checked')#}
{#//                    window.setTimeout(function() {#}
{#////                        document.getElementById('articles_imgArticles_' + i + '_general_0').blur()#}
{#//                        document.getElementById('articles_imgArticles_' + i + '_general_1').focus()#}
{#//                    })#}
{#//                    console.log(1)#}
{#//                }#}

{#//                    console.log(input)#}
{#//                }#}
        {#}#}
        {#function radioClick(id) {#}
            {#for (let a = 0; a < radio.length; a++) {#}
                {#if (id == 'articles_imgArticles_' + a + '_general') {#}
                    {#document.getElementById('articles_imgArticles_' + a + '_general_0').click()#}
                    {#console.log(0)#}
                {#} else {#}
                    {#document.getElementById('articles_imgArticles_' + a + '_general_1').click()#}
                    {#console.log(1)#}
                {#}#}
            {#}#}
        {#}#}

        {#//        for (let i = 0; i<radio.length; i++){#}
        {#//            let input = document.getElementById('articles_imgArticles_'+i+'_general')#}
        {#//            document.getElementById('articles_imgArticles_'+i+'_general_1').setAttribute('checked', 'checked')#}
        {#//            console.log(input)#}
        {#//        }#}
        {#//        console.log(radio)#}
    {#</script>#}
{% endblock %}

{% block body %}
    {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
        {{ form_start(form) }}
    {% endif %}
    <div id="slash" class="container slash article">
        <div class="row justify-content-md-center">
            <div class="col-md-8 text-center titleService">
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    {{ form_label(form.title) }}
                    <h1>{{ form_widget(form.title) }}</h1>
                    {{ form_errors(form.title) }}
                {% else %}
                    <h1>{{ article.title }}</h1>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-md-center headArticle">
            <div class="col-md-1 icon">
                {% if article.icon %}
                    <img src="{{ uploaded_asset(article.id, article.icon) }}"/>
                {% endif %}
            </div>
            <div class="col-md-3 fullTitle">
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    {% if app.request.get('_route') == 'articles_new' %}
                        {{ form_label(form.fullTitle) }}
                    {% endif %}
                    {{ form_widget(form.fullTitle) }}
                    {{ form_errors(form.fullTitle) }}
                {% else %}
                    {{ article.fullTitle }}
                {% endif %}
            </div>
            <div class="col-md-4 textPreview">
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    {% if app.request.get('_route') == 'articles_new' %}
                        {{ form_label(form.textPreview) }}
                    {% endif %}
                    {{ form_widget(form.textPreview) }}
                    {{ form_errors(form.textPreview) }}
                {% else %}
                    {{ article.textPreview }}
                {% endif %}
            </div>
        </div>
        {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
            <div class="row justify-content-md-center">
                <div class="col-md-8 icon">
                    {{ form_label(form.iconFile) }}<br/>
                    {{ form_widget(form.iconFile) }}
                    {{ form_errors(form.iconFile) }}
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-md-center">
            <div class="col-md-8 img">
                {% if app.request.get('_route') != 'articles_new' %}
                    {% if images %}
                        {% for image in images %}
                            <img src="{{ uploaded_asset(article.id, image.img)|imagine_filter('squared_thumbnail_small') }}"/>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if (app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new') %}
            <div class="row js-genus-scientist-wrapper" id="radioChecked">
                {% for radio in form.imgArticles %}
                    <div class="col-md-8 offset-md-2 js-genus-scientist-item">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_help(radio) }}
                                {{ form_widget(radio) }}
                            </div>
                            {#<div class="col-md-2">#}
                            {#{{ form_help(radio) }}#}
                            {#</div>#}
                            <div class="col-md-2">
                                <button type="button" class="js-remove-scientist btn btn-primary">Удалить</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    {{ form_label(form.imageFile) }}<br/>
                    {{ form_widget(form.imageFile) }}
                    {{ form_errors(form.imageFile) }}
                </div>

            </div>
        {% endif %}
        <div class="row justify-content-md-center descArticle">
            <div class="col-md-2 technology">
                <p class="param">технологии</p>
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    <p class="paramText"> {{ form_widget(form.technology) }}</p>
                    {{ form_errors(form.technology) }}
                {% else %}
                    <p class="paramText">{{ article.technology }}</p>
                {% endif %}
            </div>
            <div class="col-md-2">
                <p class="param">клиент</p>
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    <p class="paramText"> {{ form_widget(form.client) }}</p>
                    {{ form_errors(form.client) }}
                {% else %}
                    <p class="paramText">{{ article.client }}</p>
                {% endif %}
            </div>
            <div class="col-md-2">
                <p class="param">год</p>
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    <p class="paramText"> {{ form_widget(form.year) }}</p>
                    {{ form_errors(form.year) }}
                {% else %}
                    <p class="paramText">{{ article.year }}</p>
                {% endif %}
            </div>
            <div class="col-md-2">
                <p class="param">скачать</p>
                <div class="row">
                    {% if app.request.get('_route') != 'articles_new' %}
                        {% for button in buttons %}
                            {% if button.id == article.id %}
                                <div class="col-md-6 title">
                                    <a href={{ button.url }} class="btn buttonProject" role="button">
                                    <span>
                                        <object type="image/svg+xml" data="/images/batton/{{ button.icon }}">
                                            Your browser does not support SVG
                                        </object>
                                            </span></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 descArticle">
                {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                {% else %}
                    {{ article.description|raw }}
                {% endif %}
            </div>
        </div>
        {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
            <div class="row justify-content-md-center">
                <div class="col-md-8 descArticle">
                    {{ form_label(form.alias) }}
                    {{ form_widget(form.alias) }}
                    {{ form_errors(form.alias) }}
                    {{ form_label(form.author) }}
                    {{ form_widget(form.author) }}
                    {{ form_errors(form.author) }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container prevNext">
        <div class="row">
            {% if app.request.get('_route') != 'articles_new' and app.request.get('_route') != 'articles_edit' %}
                {% if prevNext %}
                    <div class="col-md-6 paddingNone">
                        <a href={{ path('articles_show', {'id': prevNext.0.id}) }}><span>Предыдущий</span></a>
                    </div>
                    <div class="col-md-6 paddingNone">
                        <a href={{ path('articles_show', {'id': prevNext.1.id}) }}><span>Следующий</span></a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
        <div class="container">
            <div class="row">
                <div class="col-1"><a href="{{ path('articles_index') }}">back to list</a></div>
                <div class="col-1">
                    {% if app.request.get('_route') != 'articles_new' %}
                        <a href="{{ path('articles_show', {'id': article.id}) }}">show</a>
                    {% endif %}
                </div>
                <div class="col-1">
                    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                {% if app.request.get('_route') != 'articles_new' %}
                    <div class="col-1">
                        {{ include('articles/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if app.request.get('_route') == 'articles_edit' or app.request.get('_route') == 'articles_new' %}
        {{ form_end(form) }}
    {% endif %}
    {% if is_granted('ROLE_CONTENT_MANAGER') and app.request.get('_route') != 'articles_new' and app.request.get('_route') != 'articles_edit' %}
        <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
    {% endif %}
{% endblock %}
