<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body {% if (app.request.get('_route') == 'index_index') %}class="white-backgraund"{% endif %}>
<div id="home" class="container homeClass">
    {% block header %}
    {% set menu = [
    {'title': 'Услуги', 'url': 'service_index' },
    {'title': 'Портфолио', 'url': 'articles_index'},
    {'title': 'контакты', 'url': 'contact_index'},
    ] %}
    <div class="row align-items-center">
        <div class="col-md-2">
            {% if  (app.request.get('_route') == 'index_index') %}
                <object type="image/svg+xml" data="/images/logo.svg">
                    Your browser does not support SVG
                </object>
            {% else %}
                <a href="{{ path('index_index') }}" class="logoSvg">
                    <object type="image/svg+xml" data="/images/logo.svg">
                        Your browser does not support SVG
                    </object>
                </a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-2 menuFlex inLeft">
                    {#{{  dump(app.request.get('_route')) }}#}
                    {% for mainMenu in menu %}
                        {% if ( app.request.get('_route') == mainMenu.url ) %}
                            <p>{{ mainMenu.title }}</p>
                        {% else %}
                            <a href="{{ path(mainMenu.url) }}"><p>{{ mainMenu.title }}</p></a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-4 menuFlex inRight">
                    {#<object type="image/svg+xml" data="/images/imgEmail.svg">#}
                    {#Your browser does not support SVG#}
                    {#</object>#}
                    <p>info@iqdev.com</p>
                    {#</div>#}
                    {#<div class="col-md-1">#}
                    <object type="image/svg+xml" data="/images/imgTel.svg">
                        Your browser does not support SVG
                    </object>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row align-items-center justify-content-end">
                {% for locale in locales() %}
                    <div class="col-md-2" {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                         {% else %}aria-checked="false"{% endif %} role="menuitem">
                        <a href="{{ path(app.request.get('_route', 'index_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                            <small>{{ locale.code[0:2] }}</small>
                        </a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}

{% endblock %}
{% block footer %}
    <div class="container footerClass">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 align-self-center">
                        <p>ООО "Ай кью Клаш"  УНП 192740628</p>
                    </div>
                    <div class="col-md-3 align-self-center">
                        <p>© 2019 Все права защищены</p>
                    </div>
                    <div class="col-md-3 align-self-center">
                        <a href="#"><p>условия соглашения</p></a>
                    </div>
                    <div class="col-md-3 align-self-center">
                        <a href="#"><p class="rightClass">политика конфиденциальности</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#{% block sidebar %}#}
{#{{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {#}
{#'template': 'index/blog.html.twig',#}
{#'sharedAge': 600,#}
{#'_locale': app.request.locale#}
{#})) }}#}
{#{% endblock %}#}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
