{% import _self as mainManuMacros %}
{% import 'index/index.html.twig' as indexMacros %}
{% macro printMainMenu() %}
    {% set menu = [
    {'title': 'Услуги', 'url': 'service_index' },
    {'title': 'Портфолио', 'url': 'articles_index'},
    {'title': 'контакты', 'url': 'contact_index'},
    ] %}
    {% for mainMenu in menu %}
        {% if ( app.request.get('_route') == mainMenu.url ) %}
            <p class="activeMenu">{{ mainMenu.title }}</p>
        {% else %}
            <a href="{{ path(mainMenu.url) }}"><p>{{ mainMenu.title }}</p></a>
        {% endif %}
    {% endfor %}
    {% if is_granted('ROLE_CONTENT_MANAGER') %}
        <a href="{{ path('admin_user') }}"><p
                    {% if ( app.request.get('_route') in ['user_show', 'user_edit', 'user_new', 'admin_user'] ) %}
                        class="activeMenu"
                    {% endif %}
            >Admin Users</p></a>
    {% endif %}
{% endmacro %}
{% macro printLogo() %}
    {% if  (app.request.get('_route') == 'index_index') %}
        <object type="image/svg+xml" data="/images/logo.svg" class="embed-responsive logoHad">
            <div class="internalText"></div>
        </object>
    {% else %}
        <a href="{{ path('index_index') }}" class="logoSvg logoHad">
            <object type="image/svg+xml" data="/images/logo.svg">
                <div class="internalText"></div>
            </object>
        </a>
    {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="mask-icon" href="/icon.svg" color="blue">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body {% if (app.request.get('_route') == 'index_index') %}class="white-backgraund"{% endif %}>
<div id="home" class="homeClass animated faster">
    {% block header %}

    <div class="homeClass-row align-items-center">
        <div class="navbarToggler nav-item dropdown">
            <div class="" id="dropdownMenuButton">
                <object type="image/svg+xml" data="/images/navBarIcon.svg">
                    <div class="internalText"></div>
                </object>
            </div>
        </div>
        <div class="home-content-main">
            {{ mainManuMacros.printLogo() }}
        </div>
        <div class="hadMenu">
            <div class="row justify-content-between align-items-center">
                <div class="menuFlex inLeft">
                    {{ mainManuMacros.printMainMenu() }}
                </div>
                <div class="menuFlex inRight">
                    {#<object type="image/svg+xml" data="/images/imgEmail.svg">#}
                    {#Your browser does not support SVG#}
                    {#</object>#}
                    <p>info@iqdev.com</p>
                    {#</div>#}
                    {#<div class="col-md-1">#}
                    <object type="image/svg+xml" data="/images/imgTel.svg">
                        <div class="internalText"></div>
                    </object>
                </div>
            </div>
        </div>
        <div class="homeLocale">
            <div class="homeLocale-row align-items-center justify-content-end">
                {#<div class="homeLocale-row align-items-center">#}
                {% for locale in locales() %}
                    {% if locale.code[0:2] == 'ru' %}
                        <div class="locale" {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                             {% else %}aria-checked="false"{% endif %} role="menuitem">
                            {#<a href="{{ path(app.request.get('_route', 'index_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">#}
                                <p>{{ locale.code[0:2] }}</p>
                            {#</a>#}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="homeButton" style="display: none">
                    {{ indexMacros.printFeedback('btn') }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blockToFix"></div>
{% endblock %}
{% block body %}

{% endblock %}
{% block footer %}
    <div {% if (app.request.get('_route') == 'index_index') %}class="footerBackground"{% endif %}>
        <div class="footerClass">
            <div class="footer-row justify-content-center">
                <div class="footer-col">
                    <div class="footer-row footerHeight">
                        <div class="text align-self-center">
                            <p>ООО "Ай кью Клаш" УНП&nbsp;192740628</p>
                        </div>
                        <div class="text align-self-center br1">
                            <p>©&nbsp;2019&nbsp;Все&nbsp;права защищены</p>
                        </div>
                        <div class="text align-self-center confiden br2">
                            <a href="#"><p>условия соглашения</p></a>
                        </div>
                        <div class="text align-self-center confiden br3">
                            <a href="#"><p>политика конфиденциальности</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#modal#}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                {% if formContact is defined %}
                    {{ form_start(formContact) }}
                    <div class="modal-body">
                        <h5 class="modal-col-12 modal-title" id="exampleModalLabel">Напишите нам</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-col-6 form-group">
                            {{ form_label(formContact.name) }}
                            {{ form_widget(formContact.name) }}
                            {{ form_errors(formContact.name) }}
                        </div>
                        <div class="modal-col-6 form-group">
                            {{ form_label(formContact.email) }}
                            {{ form_widget(formContact.email) }}
                            {{ form_errors(formContact.email) }}
                        </div>
                        <div class="modal-col-12 form-group">
                            {{ form_label(formContact.message) }}
                            {{ form_widget(formContact.message) }}
                            {{ form_errors(formContact.message) }}
                        </div>
                        <div style="display:none">
                            {{ form_rest(formContact) }}
                        </div>
                        {#<input type="submit" value="Submit">#}
                        <div class="modal-col-12">
                            <div class="button">
                                {{ form_label(formContact.file) }}
                                <div>{{ form_errors(formContact.file) }}</div>
                            </div>
                            <button class="btn buttonProject hoverEffects" role="button">
                                Отправить_запрос
                            </button>
                        </div>
                    </div>
                    {{ form_end(formContact) }}
                {% endif %}
            </div>
        </div>
    </div>
    {#end modal#}
    <div id="menuBase" style="display: none">
        {#dropdown-menu#}
        <div class="baseMenu animated">
            <div class="dropdown-overflow">
                <div class="mainMenu">
                    {{ mainManuMacros.printLogo() }}
                </div>
                <div class="mainMenu">
                    <a href="/"><p>Главная</p></a>
                    {{ mainManuMacros.printMainMenu() }}
                </div>
                <div class="mainMenu">
                    <a href="#"><p>условия соглашения</p></a>
                    <a href="#"><p class="rightClass">политика конфиденциальности</p></a>
                </div>
                <div class="mainMenu">
                    <p>Минск, Республика Беларусь, пр. Партизанский 4</p>
                    <p>220036</p>
                    <p>info@iqdev.com</p>
                    <p>
                        <object class="emailImg" type="image/svg+xml" data="/images/imgTel.svg">
                            <div class="internalText"></div>
                        </object>
                    </p>
                </div>
                <div class="mainMenu">
                    <div class="mainMenuSocial">
                        {{ indexMacros.printSocialBlock() }}
                    </div>
                </div>
                <div class="mainMenu endMenu">
                    {{ indexMacros.printFooterMenu() }}
                </div>
                <div class="dropButton">
                    {{ indexMacros.printFeedback('btn btnBlue') }}
                </div>
            </div>
        </div>
        {#end dropdown-menu#}
    </div>
{% endblock %}
{#{% block sidebar %}#}
{#{{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {#}
{#'template': 'index/blog.html.twig',#}
{#'sharedAge': 600,#}
{#'_locale': app.request.locale#}
{#})) }}#}
{#{% endblock %}#}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
