{% import _self as mainManuMacros %}
{% import 'index/index.html.twig' as indexMacros %}
{% macro printMainMenu(menu) %}
    {% for mainMenu in menu %}
        {% if ( app.request.get('_route') == mainMenu.url ) %}
            <p>{{ mainMenu.title }}</p>
        {% else %}
            <a href="{{ path(mainMenu.url) }}"><p>{{ mainMenu.title }}</p></a>
        {% endif %}
    {% endfor %}
    {% if is_granted('ROLE_CONTENT_MANAGER') %}
        <a href="{{ path('admin_user') }}"><p>Admin Users</p></a>
    {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body {% if (app.request.get('_route') == 'index_index') %}class="white-backgraund"{% endif %}>
<div id="home" class="homeClass">
    {% block header %}
    {% set menu = [
    {'title': 'Услуги', 'url': 'service_index' },
    {'title': 'Портфолио', 'url': 'articles_index'},
    {'title': 'контакты', 'url': 'contact_index'},
    ] %}
    {% set social = [
    {'img': '/images/block_V/telegram.svg', 'url': '#'},
    {'img': '/images/block_V/vk.svg', 'url': 'https://vk.com/iq_dev'},
    {'img': '/images/block_V/facebook.svg', 'url': '#'},
    {'img': '/images/block_V/twitter.svg', 'url': '#'},
    {'img': '/images/block_V/instagram.svg', 'url': 'https://www.instagram.com/iq_dev_by/'},
    ] %}
    <div class="homeClass-row align-items-center">
        <div class="navbarToggler dropdown" id="dd">
            <div class="" id="dropdownMenuButton" data-boundary="dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <object type="image/svg+xml" data="/images/navBarIcon.svg">
                    <div id="internalText"></div>
                </object>
            </div>
            <div class="dropdown-menuBlock">
                <div class="dropdown-menu" >
                    <div class="mainMenu">
                        <a href="/"><p>Главная</p></a>
                        {{ mainManuMacros.printMainMenu(menu) }}
                    </div>
                    <div class="mainMenu">
                        <a href="#"><p>условия соглашения</p></a>
                        <a href="#"><p class="rightClass">политика конфиденциальности</p></a>
                    </div>
                    <div class="mainMenu">
                        <p>Минск, Республика Беларусь, пр. Партизанский 4</p>
                        <p>220036</p>
                        <p>info@iqdev.com</p>
                        <p>
                            <object type="image/svg+xml" data="/images/imgTel.svg">
                                <div id="internalText"></div>
                            </object>
                        </p>
                    </div>
                    <div class="mainMenu">
                        <div class="mainMenuSocial">
                            {{ indexMacros.printSocialBlock(social) }}
                        </div>
                    </div>
                    <div class="mainMenu">
                        {{ indexMacros.printFooterMenu() }}
                    </div>
                    <div class="dropButton">
                        <a  href="#" role="button">Связаться</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-content-main">
            {% if  (app.request.get('_route') == 'index_index') %}
                <object type="image/svg+xml" data="/images/logo.svg" class="embed-responsive logoHad">
                    <div id="internalText"></div>
                </object>
            {% else %}
                <a href="{{ path('index_index') }}" class="logoSvg">
                    <object type="image/svg+xml" data="/images/logo.svg">
                        <div id="internalText"></div>
                    </object>
                </a>
            {% endif %}
        </div>
        <div class="hadMenu">
            <div class="row justify-content-between align-items-center">
                <div class="menuFlex inLeft">
                    {#{{  dump(app.request.get('_route')) }}#}
                    {{ mainManuMacros.printMainMenu(menu) }}
                </div>
                <div class="menuFlex inRight">
                    {#<object type="image/svg+xml" data="/images/imgEmail.svg">#}
                    {#Your browser does not support SVG#}
                    {#</object>#}
                    <p>info@iqdev.com</p>
                    {#</div>#}
                    {#<div class="col-md-1">#}
                    <object type="image/svg+xml" data="/images/imgTel.svg">
                        <div id="internalText"></div>
                    </object>
                </div>
            </div>
        </div>
        <div class="homeLocale">
            <div class="homeLocale-row align-items-center justify-content-end">
                {% for locale in locales() %}
                    <div class="locale" {% if app.request.locale == locale.code %}aria-checked="true" class="active"
                         {% else %}aria-checked="false"{% endif %} role="menuitem">
                        <a href="{{ path(app.request.get('_route', 'index_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                            <small>{{ locale.code[0:2] }}</small>
                        </a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}

{% endblock %}
{% block footer %}
    <div class="container footerClass">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 align-self-center">
                        <p>ООО "Ай кью Клаш"  УНП 192740628</p>
                    </div>
                    <div class="col-md-3 align-self-center">
                        <p>© 2019 Все права защищены</p>
                    </div>
                    <div class="col-md-3 align-self-center">
                        <a href="#"><p>условия соглашения</p></a>
                    </div>
                    <div class="col-md-3 align-self-center">
                        <a href="#"><p class="rightClass">политика конфиденциальности</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#{% block sidebar %}#}
{#{{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {#}
{#'template': 'index/blog.html.twig',#}
{#'sharedAge': 600,#}
{#'_locale': app.request.locale#}
{#})) }}#}
{#{% endblock %}#}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
